.img2 {
    width:73px ;
    height:60px;
    min-width:auto ;
    min-height: auto ;
    position: relative;
    background-image: url(../../components/icono.jpg);
    bottom: 560px;
    left: 40px;
}



h1 {
    color: darkmagenta;
    left:40px;

    
}

h2 {
    color:aqua;
    left:40px;  
  }




.fondo img{
    width: 100%;
    height: auto;
    margin: 0%;
}

.fondo h1 {
    position: relative;
    bottom: 250px;
}

.fondo h2 {
    position: relative;
    bottom: 250px;
     
}