.background{
    background-color: aqua;
}

h2 {
    top:500px;
    position: relative;
    font-size:25px;
    opacity: auto;
    width: max-content;
    color:aqua;
    left:40px;  
  }
  
h1 {
    top:500px;
    position: relative;
    font-size:30px;
    opacity:1;
    width: max-content;
    color: darkmagenta;
    left:40px;
}
